<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Sistema Academico</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> DashBoard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <MudNavLink Href="/Matricula">Matricula</MudNavLink>
        </div>

        <div class="nav-item px-3">
            <MudNavLink Href="/Professores">Professores</MudNavLink>
        </div>

        <div class="nav-item px-3">
            <MudNavLink Href="/Alunos">Grade Curricular</MudNavLink>
        </div>

        <div class="nav-item px-3">
            <MudNavLink Href="/Horario">Quadro de Horários</MudNavLink>
        </div>

        <div class="nav-item px-3">
            <MudNavLink Href="/Alunos">Financeiro</MudNavLink>
        </div>

        <div class="nav-item px-3">
            <MudNavGroup Title="Central do Aluno" Icon="@Icons.Material.Filled.School">
                <MudNavLink Href="/Alunos" Icon="@Icons.Material.Filled.List">Exibir</MudNavLink>
                <MudNavLink Href="/Alunos" Icon="@Icons.Material.Filled.ErrorOutline">Faltas</MudNavLink>
                <MudNavLink Href="/Notas" Icon="@Icons.Material.Filled.Note">Notas</MudNavLink>
                
            </MudNavGroup>
        </div>


        <div class="nav-item px-3">

            <MudNavGroup Title="Cadastros" Icon="@Icons.Material.Filled.School">
                <MudNavLink Href="/CadastrarAluno" Icon="@Icons.Material.Filled.Person">Cadastrar Aluno</MudNavLink>
                <MudNavLink Href="/CadastrarMatricula" Icon="@Icons.Material.Filled.Add">Cadastrar Matricula</MudNavLink>
                <MudNavLink Href="/CadastrarProfessor" Icon="@Icons.Material.Filled.AddCard">Cadastrar Prof</MudNavLink>


            </MudNavGroup>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
